.a{color: green;}
.b{text-align: right; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.c{font-family: Verdana, Geneva, Tahoma, sans-serif; }
.d{font-family: monospace;text-align: right;}